<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/addnew.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:500,700&amp;display=swap"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Add New Post</title>
  </head>
  <body>
    <div class="heading">
      <a href="/posts"><h1>Feiojo</h1></a>
    </div>

    <form action="/addnew" method="POST">
      <div class="segment">
        <h1>Add New Post</h1>
      </div>

      <label>
        <input type="text" placeholder="Title" name="title" required />
      </label>
      <label>
        <input type="text" placeholder="Image" name="image" required />
      </label>

      <label>
        <textarea
          name="body"
          id="textarea"
          cols="30"
          rows="10"
          placeholder="Description"
        ></textarea>
      </label>
      <button type="submit">Add</button>

      <div class="segment">
        <button class="unit" type="button">
          <a href="/"><i class="icon ion-md-arrow-back"></i></a>
        </button>
      </div>
    </form>
  </body>
</html>
