body,
html {
  background-color: #ebecf0;
  font-family: "Oxygen", sans-serif;
}
.heading {
  text-align: center;
  font-family: "Amatic SC", cursive;
}

body,
p,
input,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #9400ff;
}

form {
  width: 262px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #ebecf0;
}

input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

label {
  margin: 0.8rem;
  color: #61677c;
}

button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;

  width: 100%;
}
button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.lastbutton {
  width: 262px;
  margin: auto;
  font-size: 0.85rem;
}

form button {
  margin-top: 1rem;
}

.login {
  background-color: #9400ff;
  text-shadow: none;
  color: whitesmoke;
}
